body{
    background-color: #FCA6C9;
    width: 400px;
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;

}
h1{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
text-align: center;

}
img{
    max-width: 120px;

}
div{
    text-align: center;
}
h5{
    text-align: center;
}
h2{
    color: white
}
h4{
    color: white;
}